
body {
    font-size:3em;
    font-family: monospace;
}

h1 {
    color: green
}

svg {
    background-image: url('tenor.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    fill: orange;
}


.x-axis {
    font-style:italic;
    color: rgb(42, 243, 92);
}

.y-axis {
    font-style: italic;
    color: rgb(42, 243, 92);
}

.y-axis path{
    stroke-width: 2px;
}


